<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagecreate</title>
</head>
<body>
    <p>Hi {{.URL.UserId}} <br>
    <form action="/page-edit/{{.URL.UserId}}" method="post">
        <div class="container">
            <label for="URL"><b>URL</b></label>
            <input type="text" placeholder="Enter URL" name="email" required>
            <label for="Title"><b>Title</b></label>
            <input type="Title" placeholder="Enter Title" name="password" required>
            <button type="submit">Add page</button>
           
        </div>
    </form>
</body>
</html>