<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pageedit</title>
</head>
<body>
    <form action="/pagecreate/{{.URL.UserId}}" method="post">
        <div class="container">
            <label for="content"><b>Content</b></label>
            <input type="text" placeholder="Enter Content" name="content" required>
            <label for="Date"><b>Date</b></label>
            <input type="text" placeholder="Enter Date" name="date" required>
            <button type="submit">Add page</button>
           
        </div>
    </form>
</body>
</html>